header {
  height: 0px;
}

#homeButton {margin-left: 0%;}
#aboutMeButton {margin-left: 23%;}
#logoButton {margin-left: 46%; width: 8%;}
#myScheduleButton {margin-left: 54%;}
#myProjectsButton {margin-left: 77%;}
#welcomeBox {margin-left: 1%; width: 46%; height: 23%; top: 10%;}
#contentBox1 {margin-left: 1%; width: 46%; height: 22%; top: 34.5%;}
#contentBox2 {margin-left: 1%; width: 46%; height: 22%; top: 58%;}
#meBox {margin-left: 56%; width: 40%; height: 70%; top: 10%;}
#fullBox {margin-left: 1%; width: 95%; height: 70%; top: 10%;}
#tableParent {position: absolute; width: 100%; height: 100%;}
#conlangBox {margin-left: 1%; width: 95%; height: 34%; top: 10%;}
#watchBox {margin-left: 1%; width: 95%; height: 34.5%; top: 45.5%;}
#halfProjectTile1a {width: 50%; height: 100%; position: absolute;}
#halfProjectTile1b {left: 50%; width: 50%; height: 100%; position: absolute;}
#halfProjectTile2a {width: 50%; height: 100%; position: absolute;}
#halfProjectTile2b {left: 50%; width: 50%; height: 100%; position: absolute;}

.navBarText {
  position: absolute;
  margin-top: 4%;
  height: 5%;
  width: 100%;
}

.navBarWrapper {
  width: 100%;
  height: 8%;
  top: 0px;
  margin-left: 0px;
  position: fixed;
}

.navBarLogo {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 9%;
  left: 10%;
}

.navBarButton {
  width: 23%;
  height: 100%;
  background-color: black;
  color: lightgray;
  text-align: center;
  vertical-align: sub;
  font-family: sans-serif;
  top: 0px;
  position: absolute;
  z-index: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=80);
  -moz-opacity: 0.80;
  -khtml-opacity: 0.8;
  opacity: 1;
  transition: opacity 100ms ease-out 10ms;
}

.navBarButton:hover {
  opacity: 0.7;
}

body {
    overflow: hidden;
    background-color: #cccccc;
    position: relative;
    margin: 0px;
    padding: 0px;
  }
  .rectTextBox {
    text-align: center;
    font-family: sans-serif;
    background-color: #cccccc;
    border: 0px solid #000;
    border-radius: 15px;
    position: absolute;
    left: 1%;
    right: 1%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.7;
    transition: left 200ms ease-out 10ms;
  }

  .rectTextBox:hover {
    left: 7.5%;
  }

  .meTextBox {
    font-family: sans-serif;
    background-color: #cccccc;
    border: 0px solid #000;
    border-radius: 15px;
    position: absolute;
    left: 1%;
    right: 1%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.7;
  }
  
  .paddedTextBox {
    text-align: center;
    font-family: sans-serif;
    position: absolute;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
  }

  .projectTile {
    font-family: sans-serif;
    background-color: #cccccc;
    border: 0px solid #000;
    border-radius: 15px;
    position: absolute;
    left: 1%;
    right: 1%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.7;
  }

  .paddedProjectTile {
    text-align: left;
    font-family: sans-serif;
    position: absolute;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    color: black;
  }

  .projectProfile {
    padding-top: 2.5%;
    font-size: 0.8em;
  }

  img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
  }

  p {
    color: black;
    margin-left: 2%;
  }
  h4 {
    color: black;
    margin-left: 0%;
    margin-top: 0%;
    position: absolute;
}

.stuffToKnowButton {
  position: absolute;
  left: 80%;
  bottom: 30%;
}

.tableWrapper {
  position: absolute;
  width: 80%;
  height: 80%;
  margin-top: 3%;
}

table, thead, tbody, th, td {
  border: 1px solid black;
  word-break: keep-all;
}

footer {
  bottom: 0px;
  margin-left: 0px;
  position: fixed;
  height: 4%;
  width: 100%;
  background-color: black;
  color: lightgray;
  text-align: center;
  font-family: sans-serif;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=80);
  -moz-opacity: 0.80;
  -khtml-opacity: 0.8;
  opacity: 0.5;
  transition: opacity 100ms ease-out 10ms;
}

footer:hover {
  opacity: 0.8;
}